@import url('https://fonts.cdnfonts.com/css/eksell-display-trial');

body{
    margin: 0%;
}
.header{
      width:100%;
      height: 70px;
      background:#0a0b27;
      position: fixed;
      z-index: 300;
      
    
}

#logoimg{
    width: 115px;
    padding-top: 25px;
    padding-left: 29px;
    
   }
   
   .nav{
   height: 100%;
   margin-left: 154px;
    margin-top: -30px;
    font-family: "Roboto, sans-serif";

 }

.nav a{
color: rgb(246, 244, 244);
float: left;
 list-style-type: none;
 text-transform: capitalize;
}
li{
    padding-left:23px ;
    font-size: 15px;
  font-family: "Montserrat", sans-serif;
     letter-spacing: 1px;
    margin-left: 3px;
   
}
.nav-arrow{
    display: flex;
}
.material-symbols-outlined{
margin-top: -3px;
margin-left: 7px;
}
#firstimg{
    height: 684.375px;
    background-color: rgb(12, 12, 12);
    width: 100%;
}
#img-fizz{
    width: 1216.67px;
   height:  684.375px;
}
.second-div{
    height: 1076px;
    width: 100%;
   
}
.right-div{
     height: 100%;
    width: 50%; 
    background:black;
     float: left; 
   
}
.left-div{
    height: 100%;
    width: 50%;
    float: left;
    background: white;
}

.para-div{
   background:white;
   margin: 200px 130px;
   width: 70%;
   height: 78%;
   float: left;
}
.paragraph{
    font-size: 25px;
    line-height: 1.1;
    width: 350px;
   
}

.img-red{
 width: 50% ;
    height:50% ;
    z-index: 1;
    margin-top: 256px;
     margin-left: 180px;
     position: relative;
}
.fizz2{
    
     height:   529px;
     width: 190px;
     
 }
 #text-div{
    width: 50%;
    height: 10%;
    z-index: 2;
      margin-left: 59px;
      margin-top: -399px;
      position: absolute;
}
h1{
    width: 460px;
    text-align: center;
    font-size: 75px;
    font-weight: bolder;
    color: white;
    word-spacing: 2px;
}
.bottle-div{
    width: 100%px;
    height: 684.375px;
}
.fizz-bottle{
    width: 1216px;
}
.main-footer{
    width: 100%;
    height: 262.75px;
    float: left;
color: black;

}
.footer1{
    height: 142.75px;
     width: 282.22px;
     float: left;
     margin-right:86px

     

}
.footer2{
    height:191.75px;
    width:372.22px;
    float: left;

/* padding: 1px; */
}
.footer3{
    height: 192px;
    width: 293px;
     float: left;
     margin-right:-34px


}
.footers{
    width: 1028.67px;
    height: 191.75px;
    margin: 39px 56px;
}
.footers p{
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
   font-weight: 500;
   line-height: 1.2;
}
span{
    font-weight: bold;
}
#icons-img{
    width: 139px;
    margin-top: -15px;
}
#title-img{
    width: 50px;
}